<table class = displayFlight style = "width:100%">
		<th>Origin</th>
		<th>Destination</th>
		<th>Flight Time</th>
		<th>Offset</th>
	<tr ng-repeat = "flights in $findCtrl.flights">
		<td> {{flights.origin}}</td>
		<td>{{flights.destination}}</td>
		<td>{{flights.flightTime}}</td>
		<td>{{flights.offset}}</td>
	</tr>
</table>
<div>
	<input type="text" placeholder="Start Point" ng-model = '$findCtrl.findService.start'>
	<input type="text" placeholder="Destination" ng-model = '$findCtrl.findService.dest'>
	<button ng-Click = "$findCtrl.findService.getRoute()" >Find Flights</button>
</div>